*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-image: url(background.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

}
header{
    width: 1024px;
    display: flex;
    height: 20%;
    justify-content: space-between;
}
.logo{
    cursor: pointer;
    margin: 15px;
    width: 120px;
    height: 100px;
}
.all_but_header{
    display: flex;
    justify-content: flex-end;
}
.but_about, .but_menu{
    cursor: pointer;
    font-size: 26px;
    margin: 15px;
    width: 150px;
    height: 50px;
    background-color: rgba(28,28,28,0);
    color: white;
    border: white solid 2px;
    border-radius: 10px;
    padding: 7px;
}
.main{
    height: 80%;
    width: 1024px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.planet_container{
    width: 1024px;
}
.planet{
    margin: 0px;
    width: 1024px;
    height: 100%;
}
.moon_container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
}
.moon{
    width: 80px;
    height: 80px;
    animation-name: moon-move;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.about_Us{
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid white;
    height: 80%;
    width: 1024px;
    color: #fdf6d9;
    display: flex;
    flex-direction: column;
}
.restoran_text{
    margin: 10px;
    width: calc(50% - 10px);

}
.container_restoran1{
    width: 100%;
    display: flex;
    height: 50%;
}
.restoran{
    margin: 10px;
    width: calc(50% - 20px);
}
.container_restoran2{
    height: 50%;
    width: 100%;
    display: flex;
}
.menu{
    width: 1024px;
    height: 80%;
    border: 1px solid white;
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    border-radius: 10px;
}
.menu_container{
    margin: 5px;
    width: calc(33% - 7px);
    height: calc(50% - 10px);
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 10px;

}
.menu_container img{
    max-height: 80%;
    max-width: 80%;
}
.menu_container h3{
    margin-top: 10px;
    color: white;
    align-self: baseline;
}
@keyframes moon-move{
    0%{
        transform: translateX(-300%) translateY(400px);
    }
    25%{
        transform: translateX(50%) translateY(0);
    }
    50%{
        transform: translateX(500%) translateY(-100%);
    }
    75%{
        transform: translateX(1200%) translateY(0);
    }
    100%{
        transform: translateX(1500%) translateY(400px)
    }
}
@media screen and (max-width: 1023px){
    header{
        width: 100vw;
    }
    .main{
        width: 100vw;
    }
    .planet{
        width: 100vw;
    }
    .planet_container{
        width: 100vw;;
    }
    .moon{
        width: 8vw;
        height: 8vw;
    }
    .about_Us{
        margin: 5px;
        font-size: 1.8vw;
        width: calc(100vw - 10px);
        color: #fdf6d9;
    }
    .menu{
        width: calc(100vw - 10px);
    }
    .menu_container{
        width: calc(33% - 10px);
        height: calc(50% - 10px);;
    
    }
}
@media screen and (max-width:800px){
    .about_Us{
        font-size: 2vw;
    }
}
@media screen and (max-width:500px){
    .but_about, .but_menu{
        font-size: 13px;
        width: 75px;
        height: 30px;
        margin: 15px;
    }
    .logo{
        margin: 15px;
        width: 60px;
        height: 50px;
    }
    header{
        width: calc(100vw - 20px);
        height: 10%;
    }
    .main{
        width: 100vw;
        height: 90%;
    }
    body{
        width: calc(100vw - 20px);
    }
    .about_Us{
        font-size: 14px;
        border-radius: 10px;
        border: 1px solid white;
        width: calc(100vw - 20px);
        height: auto;
        color: #fdf6d9;
        display: flex;
        flex-direction: column;

    }
    .restoran_text{
        margin: 10px;
        width: calc(100vw - 20px);
    
    }
    .container_restoran1{
        height: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .restoran{
        margin: 5px;
        width: 90%;
    }
    .container_restoran2{
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .menu_container{
        width: calc(100% - 10px);
    
    }
}

.none{
    display: none;
}